{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Revolve - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- theme meta -->
    <meta name="theme-name" content="revolve" />

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    
    <!-- THEME CSS
	================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Themify -->
    <link rel="stylesheet" href="{% static 'plugins/themify/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick.css' %}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/magnific-popup/magnific-popup.css' %}">
    <!-- manin stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
      

                




{% block asosiy %}


{% endblock asosiy %}




<!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- initialize jQuery Library -->
<script src="{% static 'plugins/jquery/jquery.js' %}"></script>
<!-- Bootstrap jQuery -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script>
<!-- Owl caeousel -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'plugins/slick-carousel/slick.min.js' %}"></script>
<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script>
<!-- Instagram Feed Js -->
<script src="{% static 'plugins/instafeed-js/instafeed.min.js' %}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="{% static 'plugins/google-map/gmap.js' %}"></script>
<!-- main js -->
<script src="{% static 'js/custom.js' %}"></script>


</body>
</html>


