{% extends 'base.html' %}

{% load static %}

{% block asosiy %}

{% include 'details/menu.html' %}


<div class="section-padding pb-0">
	<div class="sidebar d-none d-lg-block">
							<div class="sidebar-sticky">
						<div class="logo-wrapper">
							<a class="navbar-brand" href="#">
								<img src="{% static 'images/logo.png' %}" alt="" class="img-fluid">
							</a>
						</div>

						<div class="main-menu">
							<nav class="navbar navbar-expand-lg p-0">
							    <div class="navbar-collapse collapse" id="navbarsExample09">
							      <ul class="list-unstyled ">
							      	 <li class="nav-item dropdown">
							          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home +</a>
							          <div class="dropdown-menu" aria-labelledby="dropdown01">
							            <a class="dropdown-item" href="index.html">Home 1</a>
							            <a class="dropdown-item" href="index-2.html">Home 2</a>
							            <a class="dropdown-item" href="index-3.html">Home 3</a>
							            <a class="dropdown-item" href="index-4.html">Home 4</a>
							            <a class="dropdown-item" href="index-5.html">Home 5</a>
							            <a class="dropdown-item" href="index-6.html">Home 6</a>
							          </div>
							        </li>
							        <li class="nav-item dropdown">
							          <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog Posts +</a>
							          <div class="dropdown-menu" aria-labelledby="dropdown02">
							            <a class="dropdown-item" href="standard-fullwidth.html">Standard Fullwidth</a>
							            <a class="dropdown-item" href="standard-left-sidebar.html">Standard Left Sidebar</a>
							            <a class="dropdown-item" href="standard-right-sidebar.html">Standard Right Sidebar</a>
							          </div>
							        </li>
							        <li class="nav-item dropdown">
							          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Posts Format +</a>
							          <div class="dropdown-menu" aria-labelledby="dropdown03">
							            <a class="dropdown-item" href="post-video.html">Video Formats</a>
							            <a class="dropdown-item" href="post-audio.html">Audio Format</a>
							            <a class="dropdown-item" href="post-link.html">Quote Format</a>
							            <a class="dropdown-item" href="post-gallery.html">Gallery Format</a>
							            <a class="dropdown-item" href="post-image.html">Image Format</a>
							          </div>
							        </li>
							        <li class="nav-item">
							          <a class="nav-link" href="about.html">About</a>
							        </li>
							        <li class="nav-item">
							          <a class="nav-link" href="fashion.html">Category</a>
							        </li>

							        <li class="nav-item">
							          <a class="nav-link" href="contact.html">Contact</a>
							        </li>
							      </ul>
							</div>
						</nav>
					</div>

					<div class="header-social-wrapper">
						<ul class="list-inline mb-0">
				          <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
				          <li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
				          <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
				          <li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
				        </ul>
					</div>
				</div>

	</div>

		<div class="content">
			<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-6">
		<article class="post-grid mb-5 ">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="{% static 'images/news/news-1.jpg' %}" alt="" class="img-fluid w-100">
			</a>

			<div class="post-content-grid">
				<div class="label-date">
					<span class="day">15</span>
					<span class="month text-uppercase">apr</span>
				</div>
				<span class="cat-name text-color font-extra font-sm text-uppercase letter-spacing">Travel</span>
				<h3 class="post-title mt-1"><a href="blog-single.html">The best soft chocolate chip cookies</a></h3>
				<p>Lorem ipsum dolor sitamet consectetu ocilng elit. Donec eros aseb dui, suscipit ex uti commodo dignis justo acas turpis egestas. Nullam et cursus</p>
			</div>
		</article>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6">
		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="{% static 'images/news/news-2.jpg' %}" alt="" class="img-fluid w-100">
			</a>
			<div class="post-content-grid">
				<div class="label-date">
					<span class="day">02</span>
					<span class="month text-uppercase">Jan</span>
				</div>
				<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">lifestyle</span>
				<h3 class="post-title mt-1"><a href="blog-single.html">A Simple Way to Feel Like Home</a></h3>
				<p>Lorem ipsum dolor sitamet consectetu ocilng elit. Donec eros aseb dui, suscipit ex uti commodo dignis justo acas turpis egestas. Nullam et cursus</p>

			</div>
			
		</article>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6">
		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="{% static 'images/news/news-3.jpg' %}" alt="" class="img-fluid w-100">
			</a>
			<div class="post-content-grid">
				<div class="label-date">
					<span class="day">20</span>
					<span class="month text-uppercase">sep</span>
				</div>
				<span class=" cat-name text-color font-sm font-extra text-uppercase letter-spacing">weekends</span>
				<h3 class="post-title mt-1"><a href="blog-single.html">5 tips to plan your weekends</a></h3>
				<p>Lorem ipsum dolor sitamet consectetu ocilng elit. Donec eros aseb dui, suscipit ex uti commodo dignis justo acas turpis egestas. Nullam et cursus</p>
		</div>
			
		</article>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6">
		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="{% static 'images/news/news-4.jpg' %}" alt="" class="img-fluid w-100">
			</a>
			<div class="post-content-grid">
				<div class="label-date">
					<span class="day">05</span>
					<span class="month text-uppercase">may</span>
				</div>
				<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Lifestyle</span>
				<h3 class="post-title mt-1"><a href="blog-single.html">The best to-do list to boost your productivity</a></h3>
				<p>Lorem ipsum dolor sitamet consectetu ocilng elit. Donec eros aseb dui, suscipit ex uti commodo dignis justo acas turpis egestas. Nullam et cursus</p>
			</div>
			
		</article>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6">
		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="{% static 'images/news/news-5.jpg' %}" alt="" class="img-fluid w-100">
			</a>
			<div class="post-content-grid">
				<div class="label-date">
					<span class="day">30</span>
					<span class="month text-uppercase">mar</span>
				</div>
				<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
				<h3 class="post-title mt-1"><a href="blog-single.html">What kind of travel you are?</a></h3>
				<p>Lorem ipsum dolor sitamet consectetu ocilng elit. Donec eros aseb dui, suscipit ex uti commodo dignis justo acas turpis egestas. Nullam et cursus</p>
			</div>
			
		</article>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-6">
		<article class="post-grid mb-5">
			<a class="post-thumb mb-4 d-block" href="blog-single.html">
				<img src="{% static 'images/news/news-6.jpg' %}" alt="" class="img-fluid w-100">
			</a>

			<div class="post-content-grid">
				<div class="label-date">
					<span class="day">24</span>
					<span class="month text-uppercase">jun</span>
				</div>
				<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Explore</span>
				<h3 class="post-title mt-1"><a href="blog-single.html">Explore the whole world </a></h3>
				<p>Lorem ipsum dolor sitamet consectetu ocilng elit. Donec eros aseb dui, suscipit ex uti commodo dignis justo acas turpis egestas. Nullam et cursus</p>

			</div>
			
		</article>
	</div>
</div>



			<div class="pagination pt-4 mb-5 justify-content-center">
				<ul class="list-inline">
					<li class="list-inline-item"><a href="#" class="active">1</a></li>
					<li class="list-inline-item"><a href="#">2</a></li>
					<li class="list-inline-item"><a href="#">3</a></li>
					<li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li>
				</ul>
			</div>
		</div>
		
	</div>

	<div class="footer-home bg-grey py-4">
		<div class="row">
			<div class="col-lg-6 text-center text-lg-left">
				© 2019 copyright Themes Themefisher 
			</div>
			<div class="col-lg-6">
				<ul class="list-inline text-center mb-0 text-lg-right">
	              <li class="list-inline-item"><a href="#">Privacy policy</a></li>
	              <li class="list-inline-item"><a href="#">Support</a></li>
	              <li class="list-inline-item"><a href="#">About</a></li>
	              <li class="list-inline-item"><a href="#">Contact</a></li>
	              <li class="list-inline-item"><a href="#">Terms</a></li>
	              <li class="list-inline-item"><a href="#">Category</a></li>
	            </ul>
			</div>
		</div>
	</div>
</div>

{% endblock asosiy %}